@import url('https://fonts.googleapis.com/css2?family=Economica&display=swap');

@keyframes logo_in {
    from {
        transform: translateY(50px);
        opacity: 0%;
    }
    to {transform: translateY(-50px);}
}

body {
    font-family: 'Economica', sans-serif;
}

a:hover h3 {
    text-decoration-line: underline;
}

#logo {
    animation: logo_in 2s;
    animation-fill-mode: forwards;
}